# Data cleaning

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json
import matplotlib.pyplot as plt

In [3]:
PATH = Path('data')
list(PATH.iterdir())

[PosixPath('data/location_history.json'), PosixPath('data/houston.csv')]

In [4]:
j_file = json.load((PATH/'location_history.json').open())

In [5]:
df = pd.DataFrame.from_dict(j_file['locations'])

In [6]:
df.tail(10) # sort newest to oldest by datetime

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy
647887,30,NaN,NaN,NaN,296678426,-952766618,1386536707631,NaN,NaN
647888,30,"[{'timestampMs': '1386536651324', 'activity': ...",NaN,NaN,296678240,-952766606,1386536647690,NaN,NaN
647889,30,NaN,NaN,NaN,296678308,-952766592,1386536587653,NaN,NaN
647890,30,NaN,NaN,NaN,296678200,-952766444,1386536527693,NaN,NaN
647891,11,NaN,NaN,NaN,296678076,-952766669,1386536468150,NaN,NaN
647892,12,NaN,NaN,NaN,296678120,-952766469,1386536423014,NaN,NaN
647893,5,"[{'timestampMs': '1386536388113', 'activity': ...",31.0,320.0,296677802,-952765843,1386536377898,0.0,NaN
647894,6,NaN,31.0,320.0,296677783,-952765824,1386536372859,0.0,NaN
647895,3,NaN,30.0,307.0,296677688,-952765729,1386536352800,0.0,NaN
647896,8,"[{'timestampMs': '1386536307870', 'activity': ...",30.0,161.0,296676529,-952764549,1386536307163,0.0,NaN

In [7]:
df.timestampMs = df.timestampMs.astype(np.int64)

In [8]:
df['date_time'] = pd.to_datetime(df.timestampMs,unit='ms').dt.tz_localize('utc').dt.tz_convert('US/Central')

In [8]:
df.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
0,16,NaN,118.0,NaN,390846488,-771527455,1531424546373,NaN,2.0,2018-07-12 14:42:26.373000-05:00
1,16,NaN,118.0,NaN,390846471,-771527444,1531423345272,NaN,2.0,2018-07-12 14:22:25.272000-05:00
2,16,NaN,118.0,NaN,390846486,-771527475,1531422368498,NaN,2.0,2018-07-12 14:06:08.498000-05:00
3,16,NaN,118.0,NaN,390846477,-771527482,1531421692554,NaN,2.0,2018-07-12 13:54:52.554000-05:00
4,26,NaN,NaN,NaN,390845015,-771527064,1531421092427,NaN,NaN,2018-07-12 13:44:52.427000-05:00

In [74]:
# from 2013 to dec 2017 - studying at Houston
# df_houston = df[df.timestampMs <= 1485752399000]

In [9]:
df_houston = df[df.date_time <= '2017-01-30 06:20:00'].reset_index(drop=True)

In [10]:
df_houston.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
0,545,"[{'timestampMs': '1485778729815', 'activity': ...",23.0,NaN,299853940,-953481015,1485778729042,NaN,NaN,2017-01-30 06:18:49.042000-06:00
1,585,"[{'timestampMs': '1485778608624', 'activity': ...",19.0,NaN,299853159,-953482313,1485778672000,NaN,NaN,2017-01-30 06:17:52-06:00
2,8,"[{'timestampMs': '1485778474389', 'activity': ...",4.0,224.0,299850980,-953489148,1485778297913,NaN,NaN,2017-01-30 06:11:37.913000-06:00
3,8,NaN,4.0,224.0,299850980,-953489148,1485778233440,NaN,NaN,2017-01-30 06:10:33.440000-06:00
4,8,"[{'timestampMs': '1485778148328', 'activity': ...",4.0,224.0,299850980,-953489148,1485778148040,NaN,NaN,2017-01-30 06:09:08.040000-06:00

In [11]:
df_houston.shape

(270054, 10)

In [8]:
# note that when saving to csv, data type (dict, list) will be converted into string
# df_houston.to_csv(PATH/'houston.csv',index=False)

In [9]:
# df_houston = pd.read_csv(PATH/'houston.csv')

# Activity (list)

In [10]:
df_act = df_houston[~df_houston.activity.isnull()].copy()

In [85]:
# % of non-null activity records
len(df_act)/ len(df_houston)

0.38272620794971013

In [86]:
df_act.tail(10)

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
269766,30,"[{'timestampMs': '1386583293458', 'activity': ...",NaN,NaN,296678587,-952764943,1386583319690,NaN,NaN,2013-12-09 04:01:59.690000-06:00
269768,31,"[{'timestampMs': '1386583203478', 'activity': ...",NaN,NaN,296679650,-952764102,1386583199679,NaN,NaN,2013-12-09 03:59:59.679000-06:00
269772,27,"[{'timestampMs': '1386582982885', 'activity': ...",NaN,NaN,296679784,-952761407,1386582960952,NaN,NaN,2013-12-09 03:56:00.952000-06:00
269774,32,"[{'timestampMs': '1386582885373', 'activity': ...",NaN,NaN,296679627,-952764028,1386582899839,NaN,NaN,2013-12-09 03:54:59.839000-06:00
269778,30,"[{'timestampMs': '1386537188419', 'activity': ...",NaN,NaN,296677881,-952766664,1386537187727,NaN,NaN,2013-12-08 15:13:07.727000-06:00
269781,30,"[{'timestampMs': '1386537011366', 'activity': ...",NaN,NaN,296678288,-952766357,1386537007726,NaN,NaN,2013-12-08 15:10:07.726000-06:00
269784,30,"[{'timestampMs': '1386536831342', 'activity': ...",NaN,NaN,296678431,-952766577,1386536827760,NaN,NaN,2013-12-08 15:07:07.760000-06:00
269787,30,"[{'timestampMs': '1386536651324', 'activity': ...",NaN,NaN,296678240,-952766606,1386536647690,NaN,NaN,2013-12-08 15:04:07.690000-06:00
269792,5,"[{'timestampMs': '1386536388113', 'activity': ...",31.0,320.0,296677802,-952765843,1386536377898,0.0,NaN,2013-12-08 14:59:37.898000-06:00
269795,8,"[{'timestampMs': '1386536307870', 'activity': ...",30.0,161.0,296676529,-952764549,1386536307163,0.0,NaN,2013-12-08 14:58:27.163000-06:00

In [11]:
df_act_expand = df_act.activity.apply(pd.Series)

In [94]:
df_act_expand.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
3,"{'timestampMs': '1485756858515', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"{'timestampMs': '1485755189121', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"{'timestampMs': '1485755118030', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"{'timestampMs': '1485755048987', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"{'timestampMs': '1485754718107', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_act_expand.shape

(103372, 99)

In [89]:
# null values percentages for each col
((df_act_expand.isnull().sum()) / len(df_act_expand))*100

0      0.000000
1     68.148715
2     82.064344
3     88.444479
4     92.835422
5     95.221678
6     97.024928
7     98.041798
8     98.710027
9     99.117744
10    99.385036
11    99.557419
12    99.681381
13    99.751109
14    99.819869
15    99.859575
16    99.879912
17    99.897345
18    99.913808
19    99.929303
20    99.940925
21    99.944798
22    99.954483
23    99.960294
24    99.964167
25    99.965136
26    99.969010
27    99.969978
28    99.972883
29    99.973852
        ...
69    99.998063
70    99.998063
71    99.998063
72    99.998063
73    99.998063
74    99.998063
75    99.998063
76    99.998063
77    99.999032
78    99.999032
79    99.999032
80    99.999032
81    99.999032
82    99.999032
83    99.999032
84    99.999032
85    99.999032
86    99.999032
87    99.999032
88    99.999032
89    99.999032
90    99.999032
91    99.999032
92    99.999032
93    99.999032
94    99.999032
95    99.999032
96    99.999032
97    99.999032
98    99.999032
Length: 99, dtype: float64

In [13]:
null_sum = df_act_expand.isnull().sum()
null_sum[(null_sum / len(df_act_expand))*100 <= 99.0].index
# cols 0 to 8 have <= 99.0% null values

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [14]:
col_del_start = null_sum[(null_sum / len(df_act_expand))*100 > 99.0].index[0]

In [15]:
col_del_end = df_act_expand.shape[1]

In [16]:
print(col_del_start)
print(col_del_end)

9
99

In [17]:
import gc
gc.collect()

723604

In [18]:
# get records (by indices) that have non-null values starting at col_del_start
row_drops = df_act_expand[(~df_act_expand.loc[:,range(col_del_start,col_del_end)].isnull()).sum(axis=1) >=1].index
row_drops

Int64Index([    52,    751,    754,    756,    757,    856,   1354,   2155,
              2191,   2199,
            ...
            258650, 258655, 258669, 258705, 258724, 258960, 258963, 258968,
            258991, 258994],
           dtype='int64', length=912)

In [19]:
df_houston2 = df_houston.drop(row_drops)

In [21]:
df_houston2.shape

(269142, 10)

In [22]:
# sanity check
len(df_houston) - len(df_houston2) == len(row_drops)

True

In [23]:
df_houston2.reset_index(drop=True,inplace=True)

In [103]:
# df_houston2.to_csv(PATH/'houston.csv',index=False)

In [24]:
df_houston2.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
0,545,"[{'timestampMs': '1485778729815', 'activity': ...",23.0,NaN,299853940,-953481015,1485778729042,NaN,NaN,2017-01-30 06:18:49.042000-06:00
1,585,"[{'timestampMs': '1485778608624', 'activity': ...",19.0,NaN,299853159,-953482313,1485778672000,NaN,NaN,2017-01-30 06:17:52-06:00
2,8,"[{'timestampMs': '1485778474389', 'activity': ...",4.0,224.0,299850980,-953489148,1485778297913,NaN,NaN,2017-01-30 06:11:37.913000-06:00
3,8,NaN,4.0,224.0,299850980,-953489148,1485778233440,NaN,NaN,2017-01-30 06:10:33.440000-06:00
4,8,"[{'timestampMs': '1485778148328', 'activity': ...",4.0,224.0,299850980,-953489148,1485778148040,NaN,NaN,2017-01-30 06:09:08.040000-06:00

# Activity (dictionary)

In [24]:
df_act = df_houston2[~df_houston2.activity.isnull()].copy()

In [25]:
df_act.shape

(102460, 10)

In [120]:
df_act.iloc[3].activity[0].keys()

dict_keys(['timestampMs', 'activity'])

In [126]:
# check if # of keys are consistent
(df_act.activity.apply(lambda x: len(x[0].keys())) <2).sum()

0

In [127]:
(df_act.activity.apply(lambda x: len(x[0].keys())) >2).sum()

29

In [130]:
df_act[(df_act.activity.apply(lambda x: len(x[0].keys())) >2)].activity.apply(lambda x: x[0].keys())

19233    (timestampMs, activity, extra)
19234    (timestampMs, activity, extra)
19236    (timestampMs, activity, extra)
19237    (timestampMs, activity, extra)
19238    (timestampMs, activity, extra)
19242    (timestampMs, activity, extra)
19243    (timestampMs, activity, extra)
19244    (timestampMs, activity, extra)
19246    (timestampMs, activity, extra)
19250    (timestampMs, activity, extra)
19301    (timestampMs, activity, extra)
19303    (timestampMs, activity, extra)
19304    (timestampMs, activity, extra)
19305    (timestampMs, activity, extra)
19307    (timestampMs, activity, extra)
19309    (timestampMs, activity, extra)
19310    (timestampMs, activity, extra)
19315    (timestampMs, activity, extra)
19318    (timestampMs, activity, extra)
19352    (timestampMs, activity, extra)
19353    (timestampMs, activity, extra)
19354    (timestampMs, activity, extra)
19356    (timestampMs, activity, extra)
19357    (timestampMs, activity, extra)
19358    (timestampMs, activity, extra)
19360    (timestampMs, activity, extra)
19363    (timestampMs, activity, extra)
19365    (timestampMs, activity, extra)
19366    (timestampMs, activity, extra)
Name: activity, dtype: object

In [139]:
df_act[(df_act.activity.apply(lambda x: len(x[0].keys())) >2)].head(10)

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
19233,10,"[{'timestampMs': '1483476045607', 'activity': ...",139.0,NaN,302671551,-977364333,1483476054000,NaN,NaN,2017-01-03 14:40:54-06:00
19234,6,"[{'timestampMs': '1483476005007', 'activity': ...",110.0,113.0,302673285,-977364433,1483476007000,NaN,NaN,2017-01-03 14:40:07-06:00
19236,81,"[{'timestampMs': '1483475901753', 'activity': ...",139.0,194.0,302675094,-977345823,1483475902099,NaN,NaN,2017-01-03 14:38:22.099000-06:00
19237,6,"[{'timestampMs': '1483475876740', 'activity': ...",124.0,197.0,302726936,-977325865,1483475861000,NaN,NaN,2017-01-03 14:37:41-06:00
19238,25,"[{'timestampMs': '1483475800610', 'activity': ...",156.0,NaN,302787863,-977303576,1483475802000,NaN,NaN,2017-01-03 14:36:42-06:00
19242,164,"[{'timestampMs': '1483475547194', 'activity': ...",140.0,12.0,302892518,-977335032,1483475553000,NaN,NaN,2017-01-03 14:32:33-06:00
19243,26,"[{'timestampMs': '1483475441573', 'activity': ...",146.0,297.0,302851776,-977308641,1483475443000,NaN,NaN,2017-01-03 14:30:43-06:00
19244,50,"[{'timestampMs': '1483475391745', 'activity': ...",106.0,209.0,302832369,-977272578,1483475370000,NaN,NaN,2017-01-03 14:29:30-06:00
19246,3,"[{'timestampMs': '1483475232716', 'activity': ...",146.0,15.0,302849430,-977307137,1483475234000,NaN,NaN,2017-01-03 14:27:14-06:00
19250,50,"[{'timestampMs': '1483475170300', 'activity': ...",NaN,NaN,302850235,-977283036,1483475158077,NaN,NaN,2017-01-03 14:25:58.077000-06:00

In [136]:
df_act[(df_act.activity.apply(lambda x: len(x[0].keys())) >2)].loc[19233,'activity']

[{'activity': [{'confidence': 82, 'type': 'IN_VEHICLE'},
   {'confidence': 15, 'type': 'STILL'},
   {'confidence': 13, 'type': 'UNKNOWN'},
   {'confidence': 2, 'type': 'ON_FOOT'},
   {'confidence': 2, 'type': 'WALKING'}],
  'extra': [{'intVal': 100,
    'name': 'vehicle_personal_confidence',
    'type': 'VALUE'}],
  'timestampMs': '1483476045607'},
 {'activity': [{'confidence': 100, 'type': 'TILTING'}],
  'timestampMs': '1483476045545'}]

In [140]:
df_act[(df_act.activity.apply(lambda x: len(x[0].keys())) >2)].loc[19242,'activity']

[{'activity': [{'confidence': 74, 'type': 'IN_VEHICLE'},
   {'confidence': 26, 'type': 'UNKNOWN'}],
  'extra': [{'intVal': 100,
    'name': 'vehicle_personal_confidence',
    'type': 'VALUE'}],
  'timestampMs': '1483475547194'},
 {'activity': [{'confidence': 100, 'type': 'TILTING'}],
  'timestampMs': '1483475547028'},
 {'activity': [{'confidence': 100, 'type': 'IN_VEHICLE'},
   {'confidence': 23, 'type': 'STILL'}],
  'extra': [{'intVal': 100,
    'name': 'vehicle_personal_confidence',
    'type': 'VALUE'}],
  'timestampMs': '1483475523282'}]

## Look at 'activity' with >=2 keys in dictionary (dictionary contains 'extra' key)

In [151]:
df_act_2act = df_act[(df_act.activity.apply(lambda x: len(x[0].keys())) >2)]

In [161]:
df_act_2act[df_act_2act.activity.apply(lambda x: len(x[0]['extra'][0].keys()) == 3)].activity.apply(lambda x: len(x[0]['extra']))

19233    1
19234    1
19236    1
19237    1
19238    1
19242    1
19243    1
19244    1
19246    1
19250    1
19301    1
19303    1
19304    1
19305    1
19307    1
19309    1
19310    1
19315    1
19318    1
19352    1
19353    1
19354    1
19356    1
19357    1
19358    1
19360    1
19363    1
19365    1
19366    1
Name: activity, dtype: int64

In [166]:
df_act_2act[df_act_2act.activity.apply(lambda x: len(x[0]['extra'][0].keys()) == 3)].activity.apply(lambda x: x[0]['extra'][0])
# conclusion: for each row, extra list only contains 1 value and they are all the same: personal vehicle related info

19233    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19234    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19236    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19237    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19238    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19242    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19243    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19244    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19246    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19250    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19301    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19303    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19304    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19305    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19307    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19309    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19310    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19315    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19318    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19352    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19353    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19354    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19356    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19357    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19358    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19360    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19363    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19365    {'type': 'VALUE', 'name': 'vehicle_personal_co...
19366    {'type': 'VALUE', 'name': 'vehicle_personal_co...
Name: activity, dtype: object

# Create new data record for each non-null activity

In [25]:
df_houston2.columns

Index(['accuracy', 'activity', 'altitude', 'heading', 'latitudeE7',
       'longitudeE7', 'timestampMs', 'velocity', 'verticalAccuracy',
       'date_time'],
      dtype='object')

In [168]:
# new dataset will have these columns
['accuracy', 'activity_type', 'extra_intval','extra_name','extra_type' ,'timestampMs (convert to datetime)', 'altitude', 'heading', 'latitudeE7',
       'longitudeE7', 'velocity', 'verticalAccuracy',
       'date_time']

['accuracy',
 'activity_type',
 'extra_intval',
 'extra_name',
 'extra_type',
 'timestampMs (convert to datetime)',
 'altitude',
 'heading',
 'latitudeE7',
 'longitudeE7',
 'velocity',
 'verticalAccuracy',
 'date_time']

In [26]:
df_act = df_houston2[~df_houston2.activity.isnull()].copy()

In [33]:
df_act.timestampMs.value_counts().shape

(102460,)

In [35]:
df_act.head(3)

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,date_time
0,545,"[{'timestampMs': '1485778729815', 'activity': ...",23.0,NaN,299853940,-953481015,1485778729042,NaN,NaN,2017-01-30 06:18:49.042000-06:00
1,585,"[{'timestampMs': '1485778608624', 'activity': ...",19.0,NaN,299853159,-953482313,1485778672000,NaN,NaN,2017-01-30 06:17:52-06:00
2,8,"[{'timestampMs': '1485778474389', 'activity': ...",4.0,224.0,299850980,-953489148,1485778297913,NaN,NaN,2017-01-30 06:11:37.913000-06:00

In [ ]:
[{'activity': [{'confidence': 74, 'type': 'IN_VEHICLE'},
   {'confidence': 26, 'type': 'UNKNOWN'}],
  'extra': [{'intVal': 100,
    'name': 'vehicle_personal_confidence',
    'type': 'VALUE'}],
  'timestampMs': '1483475547194'},
 {'activity': [{'confidence': 100, 'type': 'TILTING'}],
  'timestampMs': '1483475547028'},
 {'activity': [{'confidence': 100, 'type': 'IN_VEHICLE'},
   {'confidence': 23, 'type': 'STILL'}],
  'extra': [{'intVal': 100,
    'name': 'vehicle_personal_confidence',
    'type': 'VALUE'}],
  'timestampMs': '1483475523282'}]

In [ ]:
def activity_breakdown(row):
    row['a']=1
    row['b']=2
    row['c']=3
    return row
temp = df_act.apply(activity_breakdown,axis=1)

In [27]:
temp = pd.DataFrame({'a':[1,1,3],'b':[2,3,4]})

In [28]:
temp

   a  b
0  1  2
1  1  3
2  3  4

In [36]:
for i in temp.a.values:
    print(i)

1
1
3

In [29]:
def mul_rows(row):
    dic={}
    dic['c']=[2,3]
    dic['d']=[2,3]
    return pd.DataFrame()

In [30]:
temp2 = temp.apply(mul_rows,axis=1)

In [31]:
temp2

   a  b       c       d
0  1  2  [2, 3]  [2, 3]
1  1  3  [2, 3]  [2, 3]
2  3  4  [2, 3]  [2, 3]